.pageTitle {
    color: #0071bc;
}

.navbar{
    border-bottom-style: solid;
    border-bottom-color: #29ABE2;
    /*height: 80px;*/
}

.abs-image{
    width: 100%;
    height: 60%
}

.main-body{
    background-color: #383838;
}
